//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .attshop {
        clear: both;
        font-size: 16px;
        margin: 30px 0;
        height: 150px;
        overflow: scroll;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;  margin-top: 30px;
    }
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

}
