<div data-bind="visible: visibleBlock">
    <p>Select store for shipping:
        <select data-bind="
            options: availableShops,
            optionsText: 'name',
            optionsValue: 'id',"
        id="store_id">
        </select>
    </p>
</div>


