<?php
/**
* @var \Shop\Notation\Block\AttShops $block
*/

$product = $block->getProduct();
$data = explode(',',$block->getShopsId());
    if (count($data) && !empty($data[0])){?>
    <div class="attshop">
        <table>
            <tr>
                <th class="title"><?=__('Is available');?></th>
            </tr>
            <?php foreach($data as $value){
                $attr = $product->getRelatedProductCollection()->getAttribute('shop_id');
                    if ($attr->usesSource()){
                        $option_value = $attr->getSource()->getOptionText($value);
                        echo '<tr>
                        <td>'.$option_value.'</td>
                    </tr>';
                 }
            } ?>
        </table>
    </div>
<?php }
