<?php

/**
 * @var \Shop\Notation\Block\Display $block
 */

?>
<style>
    table {  font-family: arial, sans-serif;  border-collapse: collapse;  width: 100%;  margin-top: 30px;}
    td, th {  border: 1px solid #dddddd;  text-align: left;  padding: 8px;  }
    tr:nth-child(even) { background-color: #dddddd; }
    .notation-id{width:2%} .notation-name{width:30%}

</style>

<table>
    <tr>
        <th class="notation-id"><?=__('Id');?></th>
        <th class="notation-name"><?=__('Name');?></th>
        <th class="notation-description"><?=__('Description');?></th>
        <th class="notation-image"><?=__('Image');?></th>
        <th class="notation-address"><?=__('Address');?></th>
        <th class="notation-timetable"><?=__('Timetable');?></th>
        <th class="notation-longitude"><?=__('Longitude');?></th>
        <th class="notation-latitude"><?=__('Latitude');?></th>
        <th class="notation-created_at"><?=__('Created_at');?></th>
        <th class="notation-updated_at"><?=__('Update_at');?></th>
    </tr>
    <?php
    foreach ($block->getNotationCollection() as $key=>$notation){
        echo '<tr>
                    <td>'.$notation->getId().'</td>
                    <td><a href="http://magento2.loc/notation/' . $notation->getUrlKey() . '/">'.$notation->getName().'</a></td>
                    <td>'.$notation->getDescription().'</td>
                    <td>'.$notation->getImage().'</td>
                    <td>'.$notation->getAddress().'</td>
                    <td>'.$notation->getTimetable().'</td>
                    <td>'.$notation->getLongitude().'</td>
                    <td>'.$notation->getLatitude().'</td>
                    <td>'.$notation->getCreatedAt().'</td>
                    <td>'.$notation->getUpdatedAt().'</td>
                  </tr>';
    } ?>
</table>

