<?php
/**
 * @var \Shop\Notation\Block\Shop $block
 */
$shop =$block->getShop();

if(!empty($shop['url_key'])){?>

<div class="shop">
   <h3> <?= "Id:". $shop['id'] ?></h3>
    <h3> <?= "Name:". $shop['name'] ?></h3>
    <h3> <?= "Description:". $shop['description'] ?></h3>
    <h3> <?= "Image:". $shop['image'] ?></h3>
    <h3> <?= "Timetable:". $shop['timetable'] ?></h3>
    <h3> <?= "Address:". $shop['address'] ?></h3>
    <h3> <?= "Longitude:". $shop['longitude'] ?></h3>
    <h3> <?= "Latitude:". $shop['latitude'] ?></h3>
    <h3> <?= "Url_key:". $shop['url_key'] ?></h3>
    <h3> <?= "Create_at:". $shop['created_at'] ?></h3>
    <h3> <?= "Updated_at:". $shop['updated_at'] ?></h3>

    <?php }else{ ?>

    <h1><?=__('Url_Key does not exist')?></h1>

   <?php } ?>
</div>





